<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tablecontroller.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>354CF6AD1BEAB42100F02BAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>354CF6C11BEAB42100F02BAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>354CF6CC1BEAB42100F02BAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
